
<footer class="footer mt-auto">
    <div class="container-fluid py-2 mb-0 d-flex flex-row justify-content-center">
      <!-- Section: Social -->
      <section class="text-center">
          <a href="https://www.facebook.com/philip.mahlberg.1" target="_blank" rel="noopener noreferrer nofollow" class="me-4"><i class="fab fa-facebook-square"></i></a>
          <a href="https://github.com/philipm92" target="_blank" rel="noopener noreferrer nofollow" class="me-4"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/denkdichleicht/" target="_blank" rel="noopener noreferrer nofollow" class="me-4"><i class="fab fa-instagram-square"></i></a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="copyright text-center">&copy; Copyright 2021. Inspired by <a href="http://templatestock.co">Bonativo Template Stock</a></div>
    <!-- Copyright -->
</footer>