<section data-bs-spy="scroll" data-bs-target="#navbar-scrollby" data-bs-offset="0" class="scrollspy-example" tabindex="0" 
class="d-flex flex-column justify-content-center align-items-center align-self-center mt-1" id="overview">
    <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 mx-auto">
                <div class="section-title">
                    <h2>My <span>Qualifications</span></h2> 
                    <span class="border-line"></span>
                    <p class="subtitle-caption">
                        Full Stack Web Developer!
                    </p>
                </div>
            </div>
        </div><!-- title row end-->
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="skills-box text-center h-100">
                    <div class="header">
                        <h3>Front-End</h3>
                        <div class="skills">
                            <i class="fab fa-html5" style="font-size:100px;color:orangered;"></i>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li>Version Control (Git -GitHub)</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript/Typescript</li>
                        <li>Project Documentation</li>
                        <li>Angular</li>
                    </ul>
                    <div class="skills-footer">
                        <h4><a href="#work" class="btn btn-border-black scroll-to">Learn More</a></h4>
                    </div>
                </div>
            </div><!--skills col-->
             <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="skills-box text-center h-100">
                    <div class="header active">
                        <h3>Everything Else</h3>
                        <div class="skills">
                            <i class="fas fa-rocket" style="font-size:100px;color:var(--bg-color);"></i>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li>Wordpress &amp; Thrive Themes</li>
                        <li>GIMP &amp; Photoshop</li>
                        <li>Sony Vegas &amp; Premiere Pro</li>
                        <li>English C1</li>
                        <li>Python</li>
                    </ul>
                    <div class="skills-footer">
                        <h4><a href="#work" class="btn btn-border-theme scroll-to">Learn More</a></h4>
                    </div>
                </div>
            </div><!--skills col-->
             <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="skills-box text-center h-100">
                    <div class="header">
                        <h3>Back-End</h3>
                        <div class="skills">
                            <i class="fab fa-symfony" style="font-size:100px;color:black"></i>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li>SQL (MySQL)</li>
                        <li>SCRUM &amp; Requirements Engineering</li>
                        <li>PHP Symfony</li>
                        <li>AJAX</li>
                        <li>Software Testing</li>
                    </ul>
                    <div class="skills-footer">
                        <h4><a href="#work" class="btn btn-border-black scroll-to">Learn More</a></h4>
                    </div>
                </div>
            </div><!--skills col-->
        </div>
    </div>
</section>
