<section data-bs-spy="scroll" data-bs-target="#navbar-scrollby" data-bs-offset="0" tabindex="0" 
class="scrollspy-example container py-2" id="about">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 mx-auto">
            <div class="section-title">
                <h2>About <span>me</span></h2> 
                <span class="border-line"></span>
            </div>
        </div>
    </div><!-- title row end-->    
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-6 col-md-4 about-box">
            <img src="../assets/img/about-me.jpg" class="img-responsive" alt="Junior Full-Stack Web-Developer">
        </div>
        <div class="col-md-8 about-desc">
            <h4>Philip Mahlberg</h4>                         
            <p>
                I successfully graduated from <q>Fachschule für Informationstechnik</q> at the HTL Rennweg 1030 Vienna, as well as the <q>Berufsreifepr&uuml;fung</q> at VHS-Meidling in 1120 Vienna.
                <br /><br />
                Shortly after that I was self-employed for two years after losing over 50 kilos over a two year period with a very holistic and diet-free weight loss approach.
                <br /><br />
                In addition, I successfully completed the full stack web developer course at Code Factory Vienna in fall of 2021. There I was able to deepen my knowledge of HTML, CSS, Javascript, PHP and MySQL.
            </p>            
        </div>
    </div>
</section>